<p id="notice"><%= notice %></p>

<h1>Shelters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>mileage</th>
      <th>Elevation</th>
      <th>Long</th>
      <th>Latt</th>
      <th>State</th>
      <th>State ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%= shelter.name %></td>
        <td><%= shelter.mileage %></td>
        <td><%= shelter.elevation %></td>
        <td><%= shelter.long %></td>
        <td><%= shelter.latt %></td>
        <td><%= shelter.state.name %></td>
        <td><%= shelter.state.id %></td>
        <td><%= link_to 'Show', shelter %></td>
        <td><%= link_to 'Edit', edit_shelter_path(shelter) %></td>
        <td><%= link_to 'Destroy', shelter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shelter', new_shelter_path %>
