<p id="notice"><%= notice %></p>

  <h1 id="shelter-name"><%= @shelter.name %></h1>

<div>
  NOBO Mile <%= @shelter.mileage %>
</div>

<div>
  <%= @shelter.elevation %> feet
</div>

<div>  <%= @shelter.state.name %></div>
<div>
  <%= @shelter.latt %>,
  <%= @shelter.long %>
</div>

<% @weather_days.each do |all_weather| %>
  <% weather = all_weather.first %>
  <% hourly_weather = all_weather.last %>
  <table class="pure-table pure-table-striped">
    <tr class="tr-header">
      <th><strong><%= weather.weather_date.strftime("%A %m/%d/%y") %></strong></th>
      <th><%= weather.high %>&deg;/<%= weather.low %>&deg;</th>
      <th><%= weather.description %></th>
    </tr>

    <tr class="hourly-header">
      <th>Time</th>
      <th>Temp (&deg;F)</th>
      <th>Description</th>
    </tr>
    <% hourly_weather.each do |hour| %>

    <tr>
      <td> <%= hour.date.strftime("%l:%M %p") %> </td>
      <td> <%= hour.temp %>&deg; </td>
      <td> <%= hour.description %> </td>
    </tr>
  <% end %>
  </table>


<% end %>

<%= link_to("Previous", @shelter.previous) unless @shelter.previous.nil? %>
<%= link_to("Next", @shelter.next) unless @shelter.next.nil? %>
