<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>mileage:</strong>
  <%= @shelter.mileage %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @shelter.elevation %>
</p>

<p>
  <strong>Long:</strong>
  <%= @shelter.long %>
</p>

<p>
  <strong>Latt:</strong>
  <%= @shelter.latt %>
</p>

<p>
  <strong>State:</strong>
  <%= @shelter.state.name %>
</p>

<% @weather.each do |weather| %>
  <p>Date: <%= weather.weather_date.strftime("%A %m/%d/%y") %>, Low: <%= weather.low %>, High: <%= weather.high %>, Description: <%= weather.description %>, Precip Chance: <%= weather.precip_chance %></p>
<% end %>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
