<p id="notice"><%= notice %></p>

  <h1><%= @shelter.name %></h1>

<div>
  NOBO Mile <%= @shelter.mileage %>
</div>

<div>
  <%= @shelter.elevation %> feet
</div>

<div>  <%= @shelter.state.name %></div>
<div>
  <%= @shelter.latt %>,
  <%= @shelter.long %>
</div>


<% @weather.each do |weather| %>
  <p>Date: <%= weather.weather_date.strftime("%A %m/%d/%y") %>, Low: <%= weather.low %>, High: <%= weather.high %>, Description: <%= weather.description %>, Precip Chance: <%= weather.precip_chance %></p>
<% end %>

<%= @hourly_weather.inspect %>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
