  <p id="notice"><%= notice %></p>

  <section id="shelter-info">
    <h1 id="shelter-name">
      <%= @shelter.name %>
      <small>Elevation: <%= @shelter.elevation %> feet</small>
    </h1>
    <div>
      NOBO Mile <%= @shelter.mileage %>
    </div>
    <div>
      <%= @shelter.state.name %> (<%= @shelter.latt %>, <%= @shelter.long %>)
    </div>
  </section>

<% @weather_days.each do |all_weather| %>
  <% weather = all_weather.first %>
  <% hourly_weather = all_weather.last %>
  <table class="pure-table pure-table-striped">
    <tr class="tr-header">
      <th><strong><%= weather.weather_date.strftime("%A %m/%d/%y") %></strong></th>
      <th><%= weather.high %>&deg;/<%= weather.low %>&deg;</th>
      <th><%= weather.description %></th>
    </tr>

    <tr class="hourly-header">
      <th>Time</th>
      <th>Temp (&deg;F)</th>
      <th>Description</th>
    </tr>
    <% hourly_weather.each do |hour| %>
      <tr>
        <td> <%= hour.date.strftime("%l:%M %p") %> </td>
        <td> <%= hour.temp %>&deg; </td>
        <td> <%= hour.description %> </td>
      </tr>
    <% end %>
    </table>
  <% end %>

<%= link_to("Previous", @shelter.previous, class: "pure-button pure-button-primary") unless @shelter.previous.nil? %>
<%= link_to("Next", @shelter.next, class: "pure-button pure-button-primary") unless @shelter.next.nil? %>
