<h2 class="content-subhead">Find Shelter by mile.</h2>
<form id="mile-search-form" onsubmit="return nearestShelter();" action="#" accept-charset="UTF-8" method="post" class="pure-form pure-g">
    <div class="pure-u-5-6">
      <input type="text" name="mileage" id="mileage" class="pure-u-1" placeholder="NOBO Mileage">
    </div>
    <div class="pure-u-1-6">
      <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <input type="submit" value="Go" class="pure-button pure-button-primary pure-u-23-24">
      </div>
    </div>
</form>

<h2 class="content-subhead">Find Shelter by state.</h2>
<% @states.each do |state, state_info| %>
  <div class="state-content pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <button class="state pure-button pure-u-1" data-statename="<%= state %>">
        <%= state %>
        <span class="post-category pull-right"><%= state_info[:average_weather][:high] %>&deg; / <%= state_info[:average_weather][:low] %>&deg;</span>
      </button>

      <div id="<%= state %>" class="hidden">
        <table class="pure-table pure-table-striped shelter-list fill-width">
          <% state_info[:shelters].each do |shelter| %>
          <tr class="clickable-shelter" data-href="<%= shelter_url(shelter) %>">
            <td><%= shelter.mileage %></td>
            <td>
              <a href="<%= shelter_path(shelter) %>"><%= shelter.name %></a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var clickableShelters = document.getElementsByClassName('clickable-shelter');
  for (var i = 0; i < clickableShelters.length; i++) {
    clickableShelters[i].addEventListener('click', function() {
      shelterPath = this.dataset.href;
      window.location.href = shelterPath;
    });
  }
  function nearestShelter() {
    var mileage = document.getElementById('mileage').value;
    if (mileage !== '') {
      window.location.href = '/nearest_shelter/' + mileage;
    }
    return false;
  }

  states = document.getElementsByClassName('state');
  for (var i = 0; i < states.length; i++) {
      states[i].addEventListener('click', function() {
        state = this.dataset.statename;
        stateWeather = document.getElementById(state);
        if (stateWeather.className === 'hidden') {
          stateWeather.className = 'show';
        } else {
          stateWeather.className = 'hidden';
        }
      });
  }
</script>
