<p>Find shelter by mile.<p>
<form onsubmit="return nearestShelter();" action="#" accept-charset="UTF-8" method="post">
  <input type="text" name="mileage" id="mileage" placeholder="NOBO Mileage">
  <input type="submit" value="Go">
</form>

<% @states.each do |state, state_info| %>
<div>
  <div class="state btn" data-statename="<%= state %>">
    <%= state %>
    <span class="summary">High: <%= state_info[:average_weather][:high] %>, Low: <%= state_info[:average_weather][:low] %></span>
  </div>
  <table id="<%= state %>" class="hidden">
    <% state_info[:shelters].each do |shelter| %>
    <tr>
      <td><%= shelter.mileage %></td>
      <td>
        <a href="<%= shelter_path(shelter) %>"><%= shelter.name %></a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

<script type="text/javascript">
  function nearestShelter() {
    var mileage = document.getElementById('mileage').value;
    if (mileage !== '') {
      window.location.href = '/nearest_shelter/' + mileage;
    }
    return false;
  }

  states = document.getElementsByClassName('state');
  for (var i = 0; i < states.length; i++) {
      states[i].addEventListener("click", function() {
        state = this.dataset.statename;
        stateTable = document.getElementById(state);
        if (stateTable.className === 'hidden') {
          stateTable.className = 'show';
        } else {
          stateTable.className = 'hidden';
        }
      });
  }
</script>
