<ul>
<% @states.each do |state, average_weather| %>
  <li><a href="#<%= state %>"><%= state %></a> High: <%= average_weather[:high] %>, Low: <%= average_weather[:low] %></li>
<% end %>
</ul>

<% @shelters_states.each do |state, shelters| %>
  <h2 id="<%= state %>"><%= state %></h2>
  <ul>
  <% shelters.each do |shelter| %>
      <li><a href="<%= shelter_path(shelter) %>"><%= shelter.name %></a></li>
  <% end %>
  </ul>
<% end %>
