<%= form_for(weather) do |f| %>
  <% if weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
      <% weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :high %>
    <%= f.number_field :high %>
  </div>

  <div class="field">
    <%= f.label :low %>
    <%= f.number_field :low %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :precip_chance %>
    <%= f.number_field :precip_chance %>
  </div>

  <div class="field">
    <%= f.label :shelter_id %>
    <%= f.text_field :shelter_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
