<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AT Forecast</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title"><%= link_to('AT Forecast', root_path) %></h1>
          <%= yield :sidebar %>
        </div>
      </div>
      <div class="content pure-u-1 pure-u-md-3-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
