<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="g03BUvFu_mSuN3cGWbJhZRcoJelNC4E9HzGPnf8UUaY" />
    <title>AT Forecast</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title"><%= link_to('AT Forecast', root_path) %></h1>
          <% if content_for?(:sidebar) %>
            <%= yield(:sidebar) %>
          <% else %>
            <p class="brand-tagline">
              The fast, free and <a href="https://github.com/Green-Squad/AT-Forecast">open source</a> solution for weather on the Appalachian Trail.
            </p>
          <% end %>
          <nav class="nav">
              <ul class="nav-list">
                  <li class="nav-item">
                      <%= link_to('About', about_path, class: 'pure-button') %>
                  </li>
                  <li class="nav-item">
                      <%= link_to('GitHub', "https://github.com/Green-Squad/AT-Forecast", class: 'pure-button') %>
                  </li>
              </ul>
          </nav>
        </div>
      </div>
      <div class="content pure-u-1 pure-u-md-3-4">
        <%= yield %>
      </div>
    </div>
    <% if Rails.env.production? %>
    <script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async></script>
    <script>
      var galite = galite || {};
      galite.UA = 'UA-50909901-10';
    </script>
  <% end %>
  </body>
</html>
